* {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

  a {
    text-decoration: none;
    color: black;
  }
  
  span {
    color: red;
  }
  
/* Body */
.container {
    width: 80%;
    margin: 0 auto;
}

.container-2 {
    border-width: 0px 85px;
    border-color: #dadada;
    border-style: solid;
    padding: 0px 100px 35px;
}

.container-2 img {
    width: 400px;
    display: block;
    margin: auto;
    border-bottom: 1px solid black;
    /* border: 1px solid black; */
    padding-bottom: 0px;
}

.box {
    margin: auto;
    width: fit-content;
    padding: 0px 5px;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    /* border: 1px solid black; */
}

.content {
    text-align: justify;
    padding: 25px 20px;
    font-size: 18px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    line-height: 1.5;
}
